.homepage-heading{
    color:azure;
    background-color:darkslategray;
    font-size: 300%;
    text-align: center;
}

.recipe-list{
    font-size: 24px;
}

img{
    height:auto;
    width: 100%;
}

h1{
    color:azure;
    background-color: darkslategray;
    font-size: 300%;
    text-align: center;
    font-weight:100;
}

h2, h3{
    color:chocolate;
    font-weight:100;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color: darkslategrey;
}

.box-one{
    
    width: 100%;
    box-sizing: border-box;
    h2{
        margin: 0;
    }
}

.pasta-ingredients{
    display: flex;
    list-style: none;
    box-sizing: border-box;
    margin-left: -20px;
    li{
        margin-right: 100px;
        width: auto;
    }
}

.curry-ingredients{
    display: flex;
    list-style: none;
    box-sizing: border-box;
    margin-left: -20px;
    li{
        margin-right: 100px;
        margin-bottom: 20px;
        width: auto;
    }
}

.ragu-ingredients{
    display: flex;
    list-style: none;
    box-sizing: border-box;
    margin-left: -20px;
    li{
        margin-right: 150px;
        margin-bottom: 20px;
        width: auto;
    }
}

.sauce-ingredients{
    display: flex;
    list-style: none;
    box-sizing: border-box;
    margin-left: -20px;
    li{
        margin-right: 150px;
        margin-bottom: 20px;
        width: auto;
    }
}

.lasagna-ingredients{
    display: flex;
    list-style: none;
    box-sizing: border-box;
    margin-left: -20px;
    li{
        margin-right: 150px;
        margin-bottom: 20px;
        width: auto;
    }
}

ol{
    li{
        padding: 5px;
    }
}

